#contenedor{
    width: 300px;
    background-color: rgb(241, 245, 245);
}

#header {
    font-family: monospace;
    font-size: 30px;
}

#btnCalcular{
    background-color: rgb(146, 150, 232);
    border: white;
    font-family: monospace;
    font-size: 15px;
    color: white;
}

#btnCalcular:hover{
    background-color:  rgb(117, 121, 192);
}


#btnLimpiar{
    background-color: rgb(221, 143, 143);
    border: white;
    font-family: monospace;
    font-size: 15px;
    color: white;
}

#btnLimpiar:hover{
    background-color: rgb(168, 105, 105);
}


#btnEnviar{
    background-color: rgb(175, 222, 175);
    border: white;
    font-family: monospace;
    font-size: 15px;
    color: white;
}

#btnEnviar:hover{
    background-color:rgb(136, 173, 136);
}

label {
    font-family: monospace;
    font-size: 15px;
}