#contenedor{
    width: 400px;
    background-color: rgb(230, 230, 230);
    border: black;
}

#header {
    font-family: monospace;
    font-size: 20px;
}

#btnGenerar{
    background-color: rgb(146, 150, 232);
    border: white;
    font-family: monospace;
    font-size: 15px;
    color: white;
}

#btnGenerar:hover{
    background-color:  rgb(117, 121, 192);
}


#btnLimpiar{
    background-color: rgb(250, 183, 183);
    border: white;
    font-family: monospace;
    font-size: 15px;
    color: white;
}

#btnLimpiar:hover{
    background-color: rgb(168, 105, 105);
}


label {
    font-family: monospace;
    font-size: 15px;
}

section{
    text-align: justify;
    padding: 10px;
}

.input-1{
    width: 200px;
}

